<%- include('partials/header') %> <%- include('partials/navbar') %>

<div class="container">
  <div class="text-center my-3">
    <img class="post-image" src="/../<%= Post.image %>" alt="" />
  </div>
  <div class="Post-content">
    <h1><%= Post.title %></h1>
    <div>
      <pre class="d-inline-block">
 <strong>Author:</strong><%= Post.author %> </pre>
      <pre class="d-inline-block"><strong>Date:</strong><%= Post.Created_at %> </pre>
    </div>
    <div class="post-body">
  <%- Post.content %>
</div>
</div>
</div>

<%- include('partials/footer') %>